/* font-family: 'Cinzel', serif; */


body {
    font-family: 'Cinzel', serif;
    margin: 0;

}

header{
    background-color: rgb(162, 44, 31);
    text-align: left;
    padding: .5%;
    border-bottom: 5px solid black;
    background-image: url(../img/cross-stripes.png);
    color: white;
}

h1 {
    font-size: 3em;
    color: white;
    text-shadow: 4px 4px 4px black;
}
.headline {
    font-size: 2em;
    color: white;
    text-shadow: 4px 4px 4px black;
}

nav {
    text-align: right;
    padding-right: 2%;
}

nav ul li {
    display: inline-block;
    padding: .5%;
    font-size: 1.3em;
    border: 5px solid black;
    background-color: white;
    border-radius: 40%;
    transition-duration: 2s;
}

nav ul li:hover {
    transform: rotate(-45deg);
}

nav ul li a{
    text-decoration: none;
    word-spacing: 1em;
    color: black;
}

main {
    background-image: url(../img/cartographer.png);
    background-color: rgb(225, 107, 94);
    padding-bottom: 1%;
}

#distype {
    max-width: 35%;
    padding: 2%;
    font-size: 1.2em;
    color: white;
    text-shadow: 4px 4px 4px black;
}

.mid{
    display: flex;
    flex-direction: row;
    max-width: 75%;
    margin: auto;
    column-gap: 4em;
}

#inline{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 2%;
    background-color: white;
    
}

#inline h2 {
    text-decoration: underline;
}

#inblock{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 2%;
    background-color: white;
}

#inblock h2 {
    text-decoration: underline;
}

#block{
    display: flex;
    flex-direction:column;
    border: 2px solid;
    padding: 2%;
    background-color: white;
}

#block h2 {
    text-decoration: underline;
}


#examp1 p {
    display: inline;
    background: salmon;
}

#examp2 p {
    display: inline-block;
    background: salmon;
    padding: 3%;
    height: 2em;
}

#examp3 p {
    display: block;
    background: salmon;
    padding: 1%;
    height: 2em;
}

#moreinfo {
    text-align: right;
    padding-right: 2%;
    color: white;
    text-shadow: 2px 2px black;
}

footer {
    background-color: rgb(162, 44, 31);
    text-align: right;
    padding: 1%;
    background-image: url(../img/cross-stripes.png);
    color: black;
    border-top: 5px solid;
}

footer small {
    color: white;
}
